[mysqld]
default-storage-engine         = InnoDB
default-time-zone              = "+03:00"
character-set-server           = utf8
collation-server               = utf8_general_ci
connect_timeout                = 50
interactive_timeout            = 60
sysdate-is-now                 = 1
explicit_defaults_for_timestamp

wait_timeout                   = 1500

innodb-buffer-pool-size        = 256M
innodb_log_file_size           = 256M
innodb_log_buffer_size         = 32M
innodb_file_per_table          = ON
innodb_flush_method            = O_DSYNC
innodb_flush_log_at_trx_commit = 2
table_open_cache               = 1024
innodb_open_files              = 1024
innodb_buffer_pool_size        = 1G
innodb_buffer_pool_instances   = 4
innodb_read_io_threads         = 4
innodb_write_io_threads        = 4
innodb_thread_concurrency      = 8
innodb_stats_on_metadata       = 0
performance_schema             = OFF
skip-log-bin
sync_binlog                    = 0